<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true"  scanPeriod="60 seconds" debug="false">

	<!--  -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">      
	    	<!-- <level>DEBUG</level> -->
	    	<!-- <level>WARN</level> -->  
	    	<!--  -->    
        	<level>DEBUG</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{MM-dd HH:mm:ss} [%.30thread] [%-5level] %logger{50} - %msg %n</pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">            
        	<level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>${catalina.base}/logs/ci-info-%d{yyyy-MM-dd}.log</FileNamePattern>  
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>  
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{MM-dd HH:mm:ss} [%.11thread] [%-5level] %logger{0} - %msg %n</pattern>
        </layout>
    </appender>

	<appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">            
        	<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>        				
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>${catalina.base}/logs/ci-debug-%d{yyyy-MM-dd}.%i.log</FileNamePattern>  
            <MaxHistory>10</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
	           <maxFileSize>100MB</maxFileSize>  
            </timeBasedFileNamingAndTriggeringPolicy> 
        </rollingPolicy>  
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{MM-dd HH:mm:ss} [%.11thread] [%-5level] %logger{0} - %msg %n</pattern>
        </layout>
    </appender>
	 
	<logger name="org.springframework" level="INFO"/>
	<logger name="org.apache.commons" level="DEBUG"  addtivity="false"/>
	<logger name="org.apache.ibatis" level="DEBUG"/>
	<logger name="org.mybatis.spring" level="DEBUG"/>

	<logger name="com.zk" level="DEBUG" >
	    <appender-ref ref="DEBUG"/>
	</logger>	
		
    <root level="INFO">
    	<appender-ref ref="Console"/>
        <appender-ref ref="FILE"/>
    </root>
     
</configuration>
